{% extends "base.html" %}

{% block title %}Maps for collection{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}

	<!-- <h2 align="center">Edit Maps</h2> -->
	<h3 align="center" style="background: #CCCCCC"> {{maps.dataset_id}}</h3>
	<!-- {% for mk, mv in maps.iteritems() %}
		<h4>{{mk}}</h4>
		<h4>{{mv}}</h4>
	{% endfor %} -->

	<!-- For generating hidden select options -->
	{% for v, ks in sorted_maps['vk'].iteritems() %}
	{% set outerLoopIndex = loop.index %}
	<div id="select-option-{{outerLoopIndex}}" style="visibility:hidden; display:none">
		<select id="just_list_of_variables">
			{% for keyword, i in ks['ranked'] %}
    		<option value="{{keyword}}-->{{i}}">{{keyword}} : {{i}}</option>
    		{% endfor %}
		</select>
	</div>
	{% endfor %}

	<div class="row">
		<!-- <div class="col-sm-5 col-sm-offset-1" id="kv-maps"> -->
			<div class="row" id="kv-maps-box">
				<h3>Edit Parameter Variable Map</h3>

				<form method="POST" action="/_update_variable_map/{{ maps.unique_name }}" id="update_variable_map">

				<div class="div-list-group" style="height:500px;overflow-y:scroll;border: 0.5px solid; border-radius: 10px;" name="div-test">
					{% for v, ks in sorted_maps['vk'].iteritems() %}

						{% set outerLoopIndex = loop.index %}

						<ul class="list-group" id="vkvEdit-{{outerLoopIndex}}">
						<br>
						<div class="keyword-inline-variable">{{v}}</div>
						<input type="button" id="vkaddButtonEdit-{{outerLoopIndex}}-{{v}}" value="Assign New Keyword" type="button" class="btn btn-info" align="right" />
							{% for k, i in ks['mapped'] %}
								<li class="list-group-item" id="vkv-innerlistEdit-{{outerLoopIndex}}-{{loop.index}}">
									<select name="vkvEdit-{{outerLoopIndex}}-{{v}}">
										{% for keyword in keywords %}
										{% if k == keyword %}
							    		<option value="{{keyword}}-->{{i}}" selected>{{keyword}} : {{i}}</option>
							    		{% else %}
							    		<option value="{{keyword}}-->{{i}}">{{keyword}} : {{i}}</option>
							    		{% endif %}
							    		{% endfor %}
									</select> <!-- {{ v }} -->
									<input type="button" id="vkremoveButtonEdit-{{outerLoopIndex}}-{{loop.index}}" value="Remove" class="btn btn-danger" />
								</li>
							{% endfor %}
						</ul>
					{% endfor %}
				</div>
				<br>
				<input type="submit" value="Save" class="btn btn-success">
				</form>



			</div>
		<!-- </div> -->
	</div>

		<br>


{% endblock %}