{% extends "base.html" %}

{% block title %}Maps for collection{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
	<h3 align="center"> {{maps.dataset_id}}</h3>
	<hr/>
	<div class="row">
		<div class="row" id="kv-maps-box">
			<h4>Edit GCMD keywords from CF units</h4>

			<form method="POST" action="/_update_cfu_map/{{ maps.unique_name }}" id="update_cfu_map">

			<div class="div-list-group" style='height: 50vh; overflow: auto;'>
				{% for v, gcmds in maps['cfu'].iteritems() %}

					{% set outerLoopIndex = loop.index %}

					<div class="list-group" id="cfuEdit-{{outerLoopIndex}}">
						<br>
						<a class="list-group-item active">{{v}}</a>
						{% for gcmd in gcmds %}
							<a class="list-group-item" id="cfu-innerlistEdit-{{outerLoopIndex}}-{{loop.index}}">
								<select name="cfuEdit-{{outerLoopIndex}}-{{v}}">
						    	<option value="{{ gcmd }}" selected>{{ gcmd }} </option>
								</select>
								<input type="button" id="cfuremoveButtonEdit-{{outerLoopIndex}}-{{loop.index}}" value="x" class="btn btn-xs btn-danger" />
							</a>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
			<br/>
			<input type="submit" value="Save" class="btn btn-success">
			</form>
		</div>
	</div>

	<br/>


{% endblock %}