{% extends "base.html" %}

{% block title %}Maps for collection{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}

	<h1>Maps</h1>
	<h2 align="center"> {{maps['name']}}</h2>
	{% for mk, mv in maps.iteritems() %}
		<h4>{{mk}}</h4>
		<h4>{{mv}}</h4>
	{% endfor %}
	<div id="select-option" style="visibility:hidden">
		<select id="just_list_of_variables">
			{% for keyword in keywords %}
    		<option>{{keyword}}</option>
    		{% endfor %}
		</select>
	</div>
	<div class="row">
		<div class="col-sm-5 col-sm-offset-1" id="kv-maps">
			<div class="row" id="kv-maps-box">
				<h2>Editing Variable Map</h2>

				<form method="POST" action="/_update_variable_map/{{ maps['name'] }}" id="update_variable_map">

				<div class="div-list-group" style="height:500px;overflow-y:scroll;border: 0.5px solid; border-radius: 10px;" name="div-test">
					{% for v, ks in sorted_maps['vk'].iteritems() %}
						<h5>{{v}} </h5>
						{% set outerLoopIndex = loop.index %}

						<div id="select-option-{{outerLoopIndex}}" style="visibility:hidden">
							<select id="just_list_of_variables">
								{% for keyword, i in ks['ranked'] %}
					    		<option value="{{keyword}}-->{{i}}">{{keyword}} --> {{i}}</option>
					    		{% endfor %}
							</select>
						</div>

						<ul class="list-group" id="vkvEdit-{{outerLoopIndex}}">
						<input type="button" id="vkaddButtonEdit-{{outerLoopIndex}}-{{v}}" value="Add" />
							{% for k, i in ks['mapped'] %}
								<li class="list-group-item" id="vkv-innerlistEdit-{{outerLoopIndex}}-{{loop.index}}">
									<select name="vkvEdit-{{outerLoopIndex}}-{{v}}">
										{% for keyword in keywords %}
										{% if k == keyword %}
							    		<option value="{{keyword}}-->{{i}}" selected>{{keyword}} --> {{i}}</option>
							    		{% else %}
							    		<option value="{{keyword}}-->{{i}}">{{keyword}} --> {{i}}</option>
							    		{% endif %}
							    		{% endfor %}
									</select> <!-- {{ v }} -->
									<input type="button" id="vkremoveButtonEdit-{{outerLoopIndex}}-{{loop.index}}" value="Remove" />
								</li>
							{% endfor %}
						</ul>
					{% endfor %}
				</div>

				<input type="submit" value="save">
				</form>



			</div>
		</div>
	</div>

		<br>


{% endblock %}