{% extends "base.html" %}

{% block title %}Maps for collection{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
	<h3 align="center"> {{maps.dataset_id}}</h3>
	<hr/>
	<!-- For generating hidden select options -->
	{% for v, ks in sorted_maps['vk'].iteritems() %}
		{% set outerLoopIndex = loop.index %}
		<div id="select-option-{{outerLoopIndex}}" style="visibility:hidden; display:none">
			<select id="just_list_of_variables">
				{% for keyword, i in ks['ranked'] %}
	    		<option value="{{keyword}}-->{{i}}">{{keyword}} : {{i}}</option>
	    		{% endfor %}
			</select>
		</div>
	{% endfor %}

	<div class="row">
		<div class="row" id="kv-maps-box">
			<h4>Edit Parameter Variable Map</h4>

			<form method="POST" action="/_update_variable_map/{{ maps.unique_name }}" id="update_variable_map">

				<div class="div-list-group" style="min-height: 20vh; max-height: 50vh; overflow: auto;">
					{% for v, ks in sorted_maps['vk'].iteritems() %}
						{% set outerLoopIndex = loop.index %}
						<div class="list-group" id="vkvEdit-{{outerLoopIndex}}">
							<br>
							<a class="list-group-item active">
								{{v}}
								<input type="button" id="vkaddButtonEdit-{{outerLoopIndex}}-{{v}}" value="Assign New Keyword" type="button" class="btn btn-success" align="right"/>
							</a>

							{% for k, i in ks['mapped'] %}
								<a class="list-group-item" id="vkv-innerlistEdit-{{outerLoopIndex}}-{{loop.index}}">
									<select name="vkvEdit-{{outerLoopIndex}}-{{v}}">
										{% for keyword in keywords %}
											{% if k == keyword %}
							    			<option value="{{keyword}}-->{{i}}" selected>{{keyword}} : {{i}}</option>
							    		{% else %}
							    			<option value="{{keyword}}-->{{i}}">{{keyword}} : {{i}}</option>
							    		{% endif %}
							    	{% endfor %}
									</select> <!-- {{ v }} -->
									<input type="button" id="vkremoveButtonEdit-{{outerLoopIndex}}-{{loop.index}}" value="x" class="btn btn-xs btn-danger"/>
								</a>
							{% endfor %}
						</div>
					{% endfor %}
				</div>
				<br>
				<input type="submit" value="Save" class="btn btn-success">
			</form>
		</div>
	</div>

	<br/>


{% endblock %}