{% extends "base.html" %}

{% block title %}Maps for collection{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}

	<h2 align="center">Edit Maps</h2>
	<h3 align="center"> {{maps.unique_name}}</h3>
	<!-- {% for mk, mv in maps.iteritems() %}
		<h4>{{mk}}</h4>
		<h4>{{mv}}</h4>
	{% endfor %} -->

	<!-- For generating hidden select options -->
	{% for k, vs in sorted_maps['kv'].iteritems() %}
	{% set outerLoopIndex = loop.index %}
	<div id="select-option-{{outerLoopIndex}}" style="visibility:hidden; display:none">
		<select id="just_list_of_variables">
			{% for variable, i in vs['ranked'] %}
    		<option value="{{variable}}-->{{i}}">{{variable}} --> {{i}}</option>
    		{% endfor %}
		</select>
	</div>
	{% endfor %}

	<div class="row">
		<!-- <div class="col-sm-5 col-sm-offset-1" id="kv-maps"> -->
			<div class="row" id="kv-maps-box">
				<h3>Edit Keyword Map</h3>

				<form method="POST" action="/_update_keyword_map/{{ maps.unique_name }}" id="update_keyword_map">

				<div class="div-list-group" style="height:500px;overflow-y:scroll;border: 0.5px solid; border-radius: 10px;" name="div-test">
					{% for k, vs in sorted_maps['kv'].iteritems() %}

						{% set outerLoopIndex = loop.index %}

						<ul class="list-group" id="kvkEdit-{{outerLoopIndex}}">
						<br>
						<strong> {{k}} </strong>
						<input type="button" id="kvaddButtonEdit-{{outerLoopIndex}}-{{k}}" value="Add New Variable" type="button" class="btn btn-info" align="right" />
							{% for v, i in vs['mapped'] %}
								<li class="list-group-item" id="kvk-innerlistEdit-{{outerLoopIndex}}-{{loop.index}}">
									<select name="kvkEdit-{{outerLoopIndex}}-{{k}}">
										{% for variable in variables %}
										{% if v == variable %}
							    		<option value="{{variable}}-->{{i}}" selected>{{variable}} --> {{i}}</option>
							    		{% else %}
							    		<option value="{{variable}}-->{{i}}">{{variable}} --> {{i}}</option>
							    		{% endif %}
							    		{% endfor %}
									</select> <!-- {{ v }} -->
									<input type="button" id="kvremoveButtonEdit-{{outerLoopIndex}}-{{loop.index}}" value="Remove" />
								</li>
							{% endfor %}
						</ul>
					{% endfor %}
				</div>
				<br>
				<input type="submit" value="save" class="btn btn-success">
				</form>



			</div>
		<!-- </div> -->
	</div>

		<br>


{% endblock %}