{% extends "base.html" %}

{% block title %}Maps for collection{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
	<h3 align="center"> {{maps.dataset_id}}</h3>
	<hr/>
	{% for k, vs in sorted_maps['kv'].iteritems() %}
	{% set outerLoopIndex = loop.index %}
	<div id="select-option-{{outerLoopIndex}}" style="visibility:hidden; display:none">
		<select id="just_list_of_variables">
			{% for variable, i in vs['ranked'] %}
    		<option value="{{variable}}-->{{i}}">{{variable}} : {{i}}</option>
    		{% endfor %}
		</select>
	</div>
	{% endfor %}

	<div class="row">
		<div class="row" id="kv-maps-box">
			<h4>Edit Sceince Keyword Map</h4>
			<form method="POST" action="/_update_keyword_map/{{ maps.unique_name }}" id="update_keyword_map">

				<div class="div-list-group" style="min-height: 20vh; max-height: 50vh; overflow: auto;">
					{% for k, vs in sorted_maps['kv'].iteritems() %}
						{% set outerLoopIndex = loop.index %}
						<div class="list-group" id="kvkEdit-{{outerLoopIndex}}">
							<br>
							<div class="list-group-each-keyword">
								{% set keyword_part_list = k.split('->') %}
								{% for keyword_part in keyword_part_list %}
									{% if loop.first %}
										<a class="list-group-item active">{{keyword_part}} ></span>
									{% elif loop.last %}
										<a class="list-group-item active">{{keyword_part}}</span>
									{% else %}
										<a class="list-group-item active">{{keyword_part}} ></span>
									{% endif %}
								{% endfor %}
									<input type="button" id="kvaddButtonEdit-{{outerLoopIndex}}-{{k}}" value="Assign New Variable" type="button" class="btn btn-success btn-sm" align="right" />
								</a>
							</div>
							{% for v, i in vs['mapped'] %}
								<a class="list-group-item" id="kvk-innerlistEdit-{{outerLoopIndex}}-{{loop.index}}">
									<select name="kvkEdit-{{outerLoopIndex}}-{{k}}">
										{% for variable in variables %}
											{% if v == variable %}
							    			<option value="{{variable}}-->{{i}}" selected>{{variable}} : {{i}}</option>
							    		{% else %}
							    			<option value="{{variable}}-->{{i}}">{{variable}} : {{i}}</option>
							    		{% endif %}
							    	{% endfor %}
									</select> <!-- {{ v }} -->
									<input type="button" id="kvremoveButtonEdit-{{outerLoopIndex}}-{{loop.index}}" value="x" class="btn btn-xs btn-danger" />
								</a>
							{% endfor %}
						</div>
					{% endfor %}
				</div>
				<br>
				<input type="submit" value="Save" class="btn btn-success">
			</form>
		</div>
	</div>
	<br/>
{% endblock %}
