<!DOCTYPE html>
<html>
	<head>
		<title>Mapping</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen"> -->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='js/lib/node_modules/bootstrap/dist/css/bootstrap.min.css') }}" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ url_for('static', filename='js/lib/node_modules/dropzone/dist/min/dropzone.min.css') }}" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ url_for('static', filename='js/lib/node_modules/datatables.net-bs/css/dataTables.bootstrap.css') }}" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/mapper.css') }}">
		<style>
			.container {
			  max-width: 1000px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<a href="/" class="btn btn-info active disabled" role="button"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> HOME</a>
			<a href="/upload_form" class="btn btn-info active" role="button"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> UPLOAD</a>
			<hr/>
			<h3 align="center"> Data Variable Mapping Tool </h3>
			<hr/>
			<label for="search_cells">
				Search:
			</label>
    	<input id="search_cells" class="form-control" name="search" placeholder="Search Here" autocomplete="off" autofocus="autofocus" type="search" value="{{ request.form.search}}">
			<br>
	<!-- <input id="search_cells" type="search"/> -->

    <table id="datatable" class='table table-striped table-bordered'>
    	<thead>
        <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Office</th>
          <th>Age</th>
          <th>Start date</th>
          <th>Salary</th>
        </tr>
    	</thead>
    </table>
    <br /><br />
		</div>
		<br><br>
		<div id="footer">
			{% block footer %}
				<p align="center"> &copy; Copyright 2016 by <a href="#">NASA/MSFC DSIG</a>. </p>
			{% endblock %}
		</div>
	</body>
	<style type="text/css">

	  /* set the size of the datepicker search control for Order Date*/
	  #ui-datepicker-div { font-size:11px; }

	  /* set the size of the autocomplete search control*/
	  .ui-menu-item {

	  }

	  .ui-autocomplete {
	      font-size: 15px;
	  }
	  .ui-jqgrid .ui-jqgrid-htable th {
	    	height: 3em !important;
		}
		.ui-jqgrid tr.jqgrow td{
		    height: 3em !important;
		    font-size: 13px;
		}

	</style>
	<script type="text/javascript">
    var mydata = {{mydata|safe}};
  </script>
	<!-- jQuery library -->
	<script type="text/ecmascript" src="{{ url_for('static', filename='js/lib/node_modules/jquery/dist/jquery.min.js') }}"></script>
	<script type="text/ecmascript" src="{{ url_for('static', filename='js/lib/node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
	<script type="text/javascript"  src="{{ url_for('static', filename='js/lib/node_modules/dropzone/dist/min/dropzone.min.js') }}" crossorigin="anonymous"> </script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/lib/node_modules/datatables.net/js/jquery.dataTables.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/lib/node_modules/datatables.net-bs/js/dataTables.bootstrap.js') }}"></script>

  <!-- <script src="{{ url_for('static', filename='js/uploader.js') }}"></script> -->
	<script src="{{ url_for('static', filename='js/mapper.js') }}"></script>
</html>