{% extends "base.html" %}

{% block title %}Maps for collection{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}

	<h1 align="center">Maps</h1>
	<h3 align="center"> {{maps.unique_name}}</h3>

	<div class="row">
		<div class="col-sm-5 col-sm-offset-1" id="kv-maps">
			<div class="row" id="kv-maps-box">
				<h3>Keyword Map</h3>

				<a href="/_edit_keyword_map/{{ maps.unique_name }}" class="btn btn-default btn-lg active" role="button">EDIT</a>
				<br><br>
				<div class="div-list-group" style="height:500px;overflow-y:scroll;border: 0.5px solid; border-radius: 10px;" name="div-test">
				{% for k, vs in sorted_maps['kv'].iteritems() %}

					{% set outerLoopIndex = loop.index %}
					<ul class="list-group" id="kvk-{{outerLoopIndex}}">
						<h5 >{{k}} <span class="badge">{{vs['mapped']|length}}</span></h5>
						{% for v, i in vs['mapped'] %}
							<li class="list-group-item" id="kvk-innerlist-{{outerLoopIndex}}-{{loop.index}}">
								{{ v }} --> {{ i }}
							</li>
						{% endfor %}
					</ul>
				{% endfor %}
				</div>



			</div>
		</div>

		<div class="col-sm-5 col-sm-offset-1" id="kv-maps">
			<div class="row" id="kv-maps-box">
				<h3>Variable Map</h3>

				<a href="/_edit_variable_map/{{ maps.unique_name }}" class="btn btn-default btn-lg active" role="button"> EDIT</a>
				<br><br>
				<div class="div-list-group" style="height:500px;overflow-y:scroll;border: 0.5px solid; border-radius: 10px;" name="div-test">
				{% for v, ks in sorted_maps['vk'].iteritems() %}

					{% set outerLoopIndex = loop.index %}
					<ul class="list-group" id="vkv-{{outerLoopIndex}}">
						<h5 >{{v}} <span class="badge">{{ks['mapped']|length}}</span></h5>
						{% for k, i in ks['mapped'] %}
							<li class="list-group-item" id="vkv-innerlist-{{outerLoopIndex}}-{{loop.index}}">
								{{ k }} --> {{ i }}
							</li>
						{% endfor %}
					</ul>
				{% endfor %}
				</div>



			</div>
		</div>

	</div>





{% endblock %}