{% extends "base.html" %}

{% block title %}Maps for collection{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}
{% block navbar %}
  <li><a href="/">Home</a></li>
  <li><a href="/upload_form">Upload</a></li>
  <li class='active'><a href="#">Details</a></li>
{% endblock %}
{% block content %}
	<button type="button" id='popover' class="btn btn-info" data-toggle="popover" data-trigger="focus" title="Popover title" style="position: fixed; right: 18vw;">
		<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Info
	</button>
	<h3 align="center"> {{maps.dataset_id}}</h3>
	<hr>
	<div class="container" id="keys-vars" style='min-height: 200px;'>
  	<div class="collapse_not">
	    <br>
    	<div class="row" >
		    <div class="col-md-6">
	      	<h4 align="center"> Keywords in Metadata </h4>
	      	<hr style="border-bottom: 0px">
	      	<div style="max-height: 500px; overflow: auto;">
		      	{% if maps['all_keys']|length > 0 %}
		      		<div class="list-group">
		      			{% for k in maps['all_keys'] %}
			      			{% set outerLoopIndex = loop.index %}
			      			<a href="#" class="list-group-item">
							    	{{k}}
							  	</a>
			      		{% endfor %}

							</div>
						{% else %}
				    	<h4 style="color: red;"> <li> No keys found.</li> </h4>
				    {% endif %}
	      	</div>
		    </div>
		    <div class="col-md-6">
		      <h4 align="center"> Variables in sample granule </h4>
		      <hr style="border-bottom: 0px">
		      <div style="max-height: 500px; overflow: auto;">
		      	{% if variables|length > 0 %}
		      		<div class="list-group" id="cfk-{{outerLoopIndex}}">
		      			{% for v, d in variables.iteritems() %}
					      	{% set outerLoopIndex = loop.index %}
			      			<a href="#" class="list-group-item">
							    	{{v}}
							  	</a>
			      		{% endfor %}
							</div>
						{% else %}
				    	<h4 style="color: red;"> <li> No variables found.</li> </h4>
				    {% endif %}
	      	</div>
		    </div>
			</div>
		</div>
	</div>

	<hr/>

	<div class="container" id="cf-gcmd-units" style="min-height: 200px;">
		<br/>
		<div class="row">
	    <div class="col-md-6" style="">
	    	<img alt="Key" src="{{ url_for('static', filename='img/icons/key-1.png') }}"" style="width:35px;height:35px;"">
	    	<div class="div-inline"> <h4>GCMD Keywords from CF variable </h4> </div>
	    	{% if maps['cfk']|length > 0 %}
	    		<a href="/_edit_cfk_map/{{ maps.unique_name }}" class="btn btn-priamry" role="button">Edit</a>
	      {% endif %}
	    	<hr style="border-bottom: 0px">

	    	<div style="max-height: 500px; overflow: auto;">
	      	{% if maps['cfk']|length > 0 %}
			    	{% for v, gcmds in maps['cfk'].iteritems() %}
			        {% set outerLoopIndex = loop.index %}
							<div class="list-group" id="cfk-{{outerLoopIndex}}">
								<a class="list-group-item active">{{v}}</a>
								{% for gcmd in gcmds %}
									<a class="list-group-item" id="cfk-innerlist-{{outerLoopIndex}}-{{loop.index}}">
										{% if gcmd in maps['all_keys'] %}
											<font color="green">{{ gcmd }}</font>
										{% else %}
											{{ gcmd }}
										{% endif %}
									</a>
								{% endfor %}
							</div>
		      	{% endfor %}
		    	{% else %}
		    		<h4 style="color:red"> <li> No mapping found.</li> </h4>
		    	{% endif %}
	    	</div>
	  	</div>
	    <div class="col-md-6">
	      <img alt="Key" src="{{ url_for('static', filename='img/icons/unit-4.png') }}"" style="width:25px;height:25px;"">
	      <div class="div-inline"> <h4>GCMD Keywords from CF units </h4> </div>
	      {% if maps['cfu']|length > 0 %}
	      	<a href="/_edit_cfu_map/{{ maps.unique_name }}" class="btn btn-primary" role="button">Edit</a>
	      {% endif %}

	      <hr style="border-bottom: 0px"/>

	  		<div style="max-height: 500px; overflow: auto;">
		    	{% if maps['cfu']|length > 0 %}
		      	{% for v, gcmds in maps['cfu'].iteritems() %}
				    	{% set outerLoopIndex = loop.index %}
							<div class="list-group" id="cfu-{{outerLoopIndex}}">
								<a class="list-group-item active">{{v}}</a>
								{% for gcmd in gcmds %}
									<a class="list-group-item" id="cfu-innerlist-{{outerLoopIndex}}-{{loop.index}}">
										{% if gcmd in maps['all_keys'] %}
											<font color="green">{{ gcmd }}</font>
										{% else %}
											{{ gcmd }}
										{% endif %}
									</a>
								{% endfor %}
							</div>

			      {% endfor %}
					{% else %}
			    	<h4 style="color:red"> <li> No mapping found.</li> </h4>
			   	{% endif %}
	    	</div>
	    </div>
		</div>
		<br/>
	</div>

	<hr/>
	<div class="container" id="cf-gcmd-units" style="min-height: 200px;">
		<h4 align="center" style="background: #FFF; color:#0000A8"> Algorithm Based Mapping </h4>
		<hr/>
		<div class="row">
			<div class="col-md-6" id="kv-maps">
				<div class="div-inline"><h4>Science Keyword</h4></div>

				<a href="/_edit_keyword_map/{{ maps.unique_name }}" class="btn btn-primary" role="button">Edit</a>
				<hr/>
				<div class="div-list-group" style="max-height: 500px; overflow: auto;">

					{% for k, vs in sorted_maps['kv'].iteritems() %}
						{% set outerLoopIndex = loop.index %}
						{% if not (vs['mapped']|length == 0 and k in maps['mapped_keys']) %}
							<div class="list-group" id="kvk-{{outerLoopIndex}}">
								<a class="list-group-item active truncate_k " title="{{k}}">
									{{k}}>
									<p class="badge" style="float:right;">{{vs['mapped']|length}}</p>
								</a>
								{% for v, i in vs['mapped'] %}
									<a class="list-group-item" id="kvk-innerlist-{{outerLoopIndex}}-{{loop.index}}">
										{{ v }} : {{ i }}
									</a>
								{% endfor %}
							</div>
						{% else %}
							<h5 style="color:red"> No mappings found. </h5>
						{% endif %}
					{% endfor %}
				</div>
			</div>

			<div class="col-md-6" id="vk-maps">
				<div class="div-inline"><h4>Variable</h4></div>

				<a href="/_edit_variable_map/{{ maps.unique_name }}" class="btn btn-primary" role="button"> Edit</a>
				<hr/>
				<div class="div-list-group" style="max-height: 500px; overflow: auto;">
					{% for v, ks in sorted_maps['vk'].iteritems() %}
						{% set outerLoopIndex = loop.index %}

						<div class="list-group" id="vkv-{{outerLoopIndex}}">
							 <a class="list-group-item active truncate" title="{{v}}"">
							 	 {{v}}
							 	 <p class="badge" style="float: right;">{{ks['mapped']|length}}</p>
							 </a>
							{% if 'ways' in maps %}
								{% if maps.ways[v] == 1 %}
									<img alt="Key" src="{{ url_for('static', filename='img/icons/key-1.png') }}"" style="width:25px;height:25px;"">

								{% elif maps.ways[v] == 2 %}
									<img alt="Key" src="{{ url_for('static', filename='img/icons/unit-4.png') }}"" style="width:25px;height:25px;"">
								{% endif %}
							{% endif %}
							{% for k, i in ks['mapped'] %}
								<a class="list-group-item" id="vkv-innerlist-{{outerLoopIndex}}-{{loop.index}}">
									{{ k }} : {{ i }}
								</a>
							{% endfor %}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
