{% extends "base.html" %}

{% block title %}Upload variable file{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}
{% block navbar %}
  <li><a href="/">Home</a></li>
  <li><a href="/upload_form">Upload</a></li>
  <li class='active'><a href="#">Details</a></li>
{% endblock %}
{% block info %}
	<button type="button" id='popover' class="btn btn-info pull-right" data-placement="left" data-toggle="popover" data-trigger="focus" title="Popover title">
		<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Info
	</button>
{% endblock %}
{% block content %}
	<div class='row'>
		<h3 align="center"> {{results.name}}</h3>
	</div>
	<div class='panel panel-default'>
		<div class='panel panel-heading' align='center'> <h4>Keywords and Variables </h4><sub>(click to expand)</sub> </div>
		<div class='panel-body active' id="keys-vars" style='min-height: 200px;'>
	  	<div class="collapse_not">
	  		<br>
	    	<div class="row" >
			    <div class="col-md-12">
			    	<div class='panel panel-default'>
			    		<div align="center" class='panel panel-heading' style='margin: 0;'>
			    			<h4> Variables in Uploaded File </h4>
			    	  </div>
			      	<div style="max-height: 500px; overflow: auto;">
				      	{% if results.all_vars|length > 0 %}
				      		<div class="list-group">
				      			{% for k in results.all_vars %}
					      			{% set outerLoopIndex = loop.index %}
					      			{% set k = k.title().replace('-', '').replace('>', ' > ') %}
					      			<a href="#" class="list-group-item truncate_k" title="{{k}}">
									    	{{k}}
									  	</a>
					      		{% endfor %}

									</div>
								{% else %}
						    	<h5 style="color:red" align='center'> No keys found. </h5>
						    {% endif %}
			      	</div>
			    	</div>
			    </div>
				</div>
	  	</div>
	  </div>
	</div>

	<div class='panel panel-default'>
		<div class='panel panel-heading' align='center'>
			<h4>GCMD Keywords from CF variables and Units</h4>
			<sub>(click to expand)</sub>
		</div>
		<div class='panel-body' id="cf-gcmd-units" style="min-height: 200px;" hidden='hidden'>
			<div class="row">
		    <div class="col-md-6" style="">
		    	<div class='panel panel-default'>
		    		<div class='panel panel-heading' style='margin: 0;' align='center'>
		    			<i class='glyphicon glyphicon-asterisk header-components'></i>
		    			<h4 class='header-components'>GCMD Keywords from CF variable</h4>
		    		</div>

			    	<div style="max-height: 500px; overflow: auto;">
			      	{% if results.final_map['cfk']|length > 0 %}
					    	{% for v, gcmds in results.final_map['cfk'].iteritems() %}
					        {% set outerLoopIndex = loop.index %}
									<div class="list-group" id="cfk-{{outerLoopIndex}}">
										<a class="list-group-item active">{{v}}</a>
										{% for gcmd in gcmds %}
											<a class="list-group-item" id="cfk-innerlist-{{outerLoopIndex}}-{{loop.index}}">
												{{ gcmd }}
											</a>
										{% endfor %}
									</div>
				      	{% endfor %}
				    	{% else %}
				    		<h5 style="color:red" align='center'> No mapping found. </h5>
				    	{% endif %}
			    	</div>
		    	</div>
		  	</div>
		    <div class="col-md-6">
		    	<div class='panel panel-default'>
		    		<div class='panel panel-heading' align='center'>
		    			<i class='glyphicon glyphicon-dashboard header-components'></i>
		    			<h4 class='header-components'>GCMD Keywords from CF units </h4>
		    		</div>
		    		<div style="max-height: 500px; overflow: auto;">
				    	{% if results.final_map['cfu']|length > 0 %}
				      	{% for v, gcmds in results.final_map['cfu'].iteritems() %}
						    	{% set outerLoopIndex = loop.index %}
									<div class="list-group" id="cfu-{{outerLoopIndex}}">
										<a class="list-group-item active">{{v}}</a>
										{% for gcmd in gcmds %}
											<a class="list-group-item" id="cfu-innerlist-{{outerLoopIndex}}-{{loop.index}}">
												{{ gcmd }}
											</a>
										{% endfor %}
									</div>
					      {% endfor %}
							{% else %}
					    	<h5 style="color:red" align='center'> No mapping found. </h5>
					   	{% endif %}
			    	</div>
		    	</div>
		    </div>
			</div>
		</div>
	</div>

	<div class='panel panel-default'>
		<div class='panel panel-heading' align="center">
			<h4> Database Based Mapping </h4>
			<sub>(click to expand)</sub>
		</div>
		<div class='panel-body' id="cf-gcmd-units" style="min-height: 200px;" hidden='hidden'>
			<div class="row">
				<div class="col-md-12" id="kv-maps">
					<div class='panel panel-default'>
						<div class='panel panel-heading'>
							<h4>Variables</h4>
						</div>
						<div class="div-list-group" style="max-height: 500px; overflow: auto;">
							{% for v, ks in results.final_map['cfdb'].iteritems() %}
								{% set outerLoopIndex = loop.index %}
								<div class="list-group" id="kvk-{{outerLoopIndex}}">
									<a class="list-group-item active truncate " title="{{v}}"">
										{{v}}
										<p class="badge" style="float:right;">{{ks|length}}</p>
									</a>
									{% for k, i in ks.iteritems() %}
										<a class="list-group-item" id="kvk-innerlist-{{outerLoopIndex}}-{{loop.index}}">
											{{ k }} : {{ i }}
										</a>
									{% endfor %}
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- <div id="loading-gif"></div>
<div id="content-to-hide"> this is single var file map </div>
<div class="row">{{results|tojson}}</div> -->
{% endblock %}
