/*
* @Author: ritesh
* @Date:   2016-01-25 13:35:33
* @Last Modified by:   Ritesh Pradhan
* @Last Modified time: 2016-07-15 00:10:55
*/

.keyword-inline-first {
display: inline-block;
/*border: 1px solid red;*/
margin:0px 0px 0px 20px;
/*background: 	#EEE;*/
color: #00008B;
font-weight: bold;
}

.keyword-inline-last {
display: inline-block;
/*border: 1px solid red;*/
margin:0px;
/*background: 	#EEE;*/
color: #00008B;
font-weight: bold;
}

.keyword-inline {
display: inline-block;
/*border: 2px solid blue;*/
margin:0px;
background: 	#EEE;
color: #00008B;
font-weight: bold;
}

.keyword-inline-variable {
display: inline-block;
/*border: 1px solid red;*/
margin:0px 0px 0px 20px;
/*background: 	#EEE;*/
color: #00008B;
font-weight: bold
}

.div-inline {
display: inline-block;
/*border: 2px solid blue;*/
margin: 2px 15px 2px 2px;
padding: 2px;
/*background: #AFEEEE;*/
font-size: 150%;
font-weight: bold;
}


.truncate {
  max-width: 90%;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*.truncate:hover {
  overflow: visible;
  max-width: 90%;
}*/

.truncate_k {
  max-width: 90%;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*.truncate_k:hover {
	max-width: 85%;
  	overflow: visible;
}*/


/*div#loading-gif {
  width: 150px;
  height: 150px;
  top: 200px;
  margin: auto;
  position: fixed;
  z-index: 1000;
  align-content: center;
  display: block;
  background: url(../img/loadingimage.gif) no-repeat;
  background-size: contain;
  cursor: wait;
  background-color:grey;
}*/

img.loading-image {
  height: 100px;
  width: 100px;
  cursor: wait;
}